<a href="https://colab.research.google.com/github/leadeev/PANDAS/blob/main/2_6_Pandas_Explode_Part_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission

Still using this dataset: http://bit.ly/imdbratings
- Which actor is mentioned the most often?

In [1]:

import pandas as pd

link = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv'
df = pd.read_csv(link)
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [2]:

df['actors_list']

0      [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1        [u'Marlon Brando', u'Al Pacino', u'James Caan']
2      [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3      [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4      [u'John Travolta', u'Uma Thurman', u'Samuel L....
                             ...
974    [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975    [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976    [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977    [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978    [u'Charlie Sheen', u'Michael Douglas', u'Tamar...
Name: actors_list, Length: 979, dtype: object

In [3]:

df['actors_list'].iloc[0]

"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']"

In [4]:
actors = df['actors_list'].iloc[0]
eval(actors)

['Tim Robbins', 'Morgan Freeman', 'Bob Gunton']

In [11]:

def actors(actor):
  return eval(actor)

In [14]:

df['actors_list'] = df['actors_list'].apply(actors)

TypeError: ignored

In [13]:

df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[Tim Robbins, Morgan Freeman, Bob Gunton]"
1,9.2,The Godfather,R,Crime,175,"[Marlon Brando, Al Pacino, James Caan]"
2,9.1,The Godfather: Part II,R,Crime,200,"[Al Pacino, Robert De Niro, Robert Duvall]"
3,9.0,The Dark Knight,PG-13,Action,152,"[Christian Bale, Heath Ledger, Aaron Eckhart]"
4,8.9,Pulp Fiction,R,Crime,154,"[John Travolta, Uma Thurman, Samuel L. Jackson]"
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[Dustin Hoffman, Jessica Lange, Teri Garr]"
975,7.4,Back to the Future Part III,PG,Adventure,118,"[Michael J. Fox, Christopher Lloyd, Mary Steen..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[Russell Crowe, Paul Bettany, Billy Boyd]"
977,7.4,Poltergeist,PG,Horror,114,"[JoBeth Williams, Heather O'Rourke, Craig T. N..."
978,7.4,Wall Street,R,Crime,126,"[Charlie Sheen, Michael Douglas, Tamara Tunie]"

In [15]:

df['actors_list'].explode()

0           Tim Robbins
0        Morgan Freeman
0            Bob Gunton
1         Marlon Brando
1             Al Pacino
             ...
977    Heather O'Rourke
977     Craig T. Nelson
978       Charlie Sheen
978     Michael Douglas
978        Tamara Tunie
Name: actors_list, Length: 2937, dtype: object

In [16]:

df_actors = df.explode('actors_list')
df_actors

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,Tim Robbins
0,9.3,The Shawshank Redemption,R,Crime,142,Morgan Freeman
0,9.3,The Shawshank Redemption,R,Crime,142,Bob Gunton
1,9.2,The Godfather,R,Crime,175,Marlon Brando
1,9.2,The Godfather,R,Crime,175,Al Pacino
...,...,...,...,...,...,...
977,7.4,Poltergeist,PG,Horror,114,Heather O'Rourke
977,7.4,Poltergeist,PG,Horror,114,Craig T. Nelson
978,7.4,Wall Street,R,Crime,126,Charlie Sheen
978,7.4,Wall Street,R,Crime,126,Michael Douglas
978,7.4,Wall Street,R,Crime,126,Tamara Tunie

In [17]:

df_actors['actors_list'].value_counts()

Robert De Niro    18
Clint Eastwood    14
Brad Pitt         14
Tom Hanks         14
Al Pacino         13
                  ..
GÃ¼ven KiraÃ§        1
Sibel Kekilli      1
Birol Ãœnel         1
Akio Ã”tsuka        1
Tamara Tunie       1
Name: actors_list, Length: 1777, dtype: int64

In [18]:

df_actors['actors_list'].mode()

0    Robert De Niro
dtype: object